.row {
    height: 70px;
}

.word {
    font-weight: bold;
    width: 70px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
