@page "/"
@using System.Text.Json

<PageTitle>Connections</PageTitle>

@for (var i = 0; i < 4; i++)
{
    <div class="row">
        @for (var j = 0; j < 4; j++)
        {
            <span class="word">@_game.StartingGroups[i][j]</span>
        }
    </div>
}

@code
{
    private Game _game = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        using var stream = typeof(Home).Assembly.GetManifestResourceStream("Connections.wordlist.json");
        var data = JsonSerializer.Deserialize<Game[]>(stream!);

        _game = Random.Shared.GetItems(data!, 1)[0];
    }
}
